<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>{% block title %}Sanja test{% endblock %}</title>

    {% block import %}
    {% endblock %}

    <script language="javascript">
        {% block script %}

        {% endblock %}
    </script>
</head>

<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link align-left" href="/core">Home</a>
                <a class="nav-item nav-link" href="/core/rating">Rating</a>
                {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="/core/create">Create game</a>
                {% endif %}
                {% comment %}
                <a class="nav-item nav-link" href="/C">TODO</a>
                {% endcomment %}


                {% block menu %}
                {% endblock %}
            </div>
        </div>
        <div class="navbar-right">
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="/core/players">My Players</a>
                    <a class="nav-item nav-link" href="/core/user/{{ user.pk }}">Profile</a>
                    <a class="nav-item nav-link" href="/accounts/logout">Logout</a>
                {% else %}
                    <a class="nav-item nav-link" href="/accounts/login">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
</header>


<body>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
</ul>
{% endif %}

<div class="d-flex justify-content-center">
    <div class="w-50">
        {% block main %}
        {% endblock %}
    </div>
</div>

{% block full_size %}

{% endblock %}

</body>

<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">v1.2
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> Aleksandrs Zajakins</a>

  </div>
</footer>

</html>
