{% extends "core/base.html" %}
{% block title %} {{ game.player1 }} vs {{ game.player2 }} {% endblock %}

{% block script %}
    {% include "js/DeleteGame.js" with game_id=game.pk %}
    {% include "js/json_request.js" %}

    {% include "js/LoadPVP.js" with p1=game.player1.pk p2=game.player2.pk only %}

{% endblock %}

{% block main %}
    <table class="table table-striped table-bordered text-center">
        <tr>
            <td>
                {% include "small/player_small.html" with id=game.player1.pk name=game.player1.name only %}
            </td>
            <td>
                {% include "small/player_small.html" with id=game.player2.pk name=game.player2.name only %}
            </td>
        </tr>
        <tr>
            <td>
                {{ game.elo1 }}
            </td>
            <td>
                {{ game.elo2 }}
            </td>
        </tr>
        <tr>

            {% if game.ended %}

                <td>
                    {{ game.score1 }}
                </td>
                <td>
                    {{ game.score2 }}
                </td>
            {% elif game.player1.user == user %}
                <td colspan="2">
                    <form method="POST" action="/core/game/{{ game.pk }}/set_score">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="number" min="0" class="form-control" name="score1">
                            <button class="btn btn-outline-secondary" type="submit">Submit</button>
                            <input type="number" min="0" class="form-control" name="score2">
                        </div>

                    </form>
                </td>
            {% endif %}

        </tr>
        <tr>
           <td colspan="2">
               {{ game.date }}
           </td>
        </tr>
        {% if game.verified %}
            <tr>
                <td colspan="2">
                    <span class="badge badge-success">Verified</span>
                </td>
            </tr>
        {% elif game.ended %}
            {% if game.player1.user == user or game.player2.user == user %}
                <tr>
                    <td colspan="2">
                        <a class="btn btn-danger" href="/core/game/{{ game.pk }}/reset">Reset score!</a>
                    </td>
                </tr>
            {% endif %}
            {% if game.player2.user == user %}
                <tr>
                    <td colspan="2">
                        <a class="btn btn-success" href="/core/game/{{ game.pk }}/verify">Verify!</a>
                    </td>
                </tr>
            {% endif %}
        {% endif %}

        {% if game.ended %}
            <tr>
                <td>
                    {{ game.newElo1 }} {{ game.getEloChange1 }}
                </td>
                <td>
                    {{ game.newElo2 }} {{ game.getEloChange2 }}
                </td>
            </tr>
        {% else %}
            {% if game.player1.user == user %}
                <tr>
                    <td colspan="2">
                        <div onclick="DeleteGame()" class="btn btn-danger">Delete game</div>
                    </td>
                </tr>
            {% endif %}
        {% endif %}
    </table>



{% endblock %}

{% block full_size %}

    <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>

    <p class="d-flex justify-content-center">
        <a class="btn btn-primary" onclick="LoadPVPData();" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            Detailed statisitcs
        </a>
    </p>
    <div class="collapse" id="collapseExample">
            <div class="d-flex justify-content-center">
                <table class="table-sm table-striped table-bordered text-center">
                    <tr>
                        <td>Player</td>
                        <td>{{ game.player1 }}</td>
                        <td>{{ game.player2 }}</td>
                    </tr>
                    <tr>
                        <td>Games</td>
                        <td colspan="2" id="pvp_stat_games">
                            ⏳
                        </td>
                    </tr>
                    <tr>
                        <td>Wins</td>
                        <td id="pvp_stat_win1">⏳</td>
                        <td id="pvp_stat_win2">⏳</td>
                    </tr>
                    <tr>
                        <td>Winrate%</td>
                        <td id="pvp_stat_wr1">⏳</td>
                        <td id="pvp_stat_wr2">⏳</td>
                    </tr>
                    <tr>
                        <td>Set total</td>
                        <td id="pvp_stat_st1">⏳</td>
                        <td id="pvp_stat_st2">⏳</td>
                    </tr>
                    <tr>
                        <td>Set percentage%</td>
                        <td id="pvp_stat_sp1">⏳</td>
                        <td id="pvp_stat_sp2">⏳</td>
                    </tr>
                    <tr>
                        <td>Elo probability%</td>
                        <td id="pvp_stat_elo1">⏳</td>
                        <td id="pvp_stat_elo2">⏳</td>
                    </tr>

                </table>
            </div>
    </div>

{% endblock %}
