{% extends "core/base.html" %}
{% block title %} {{ game.player1 }} vs {{ game.player2 }} {% endblock %}
{% block main %}
    <table class="table table-striped table-bordered text-center">
        <tr>
            <td>
                {% include "small/player_small.html" with id=game.player1.pk name=game.player1.name only %}
            </td>
            <td>
                {% include "small/player_small.html" with id=game.player2.pk name=game.player2.name only %}
            </td>
        </tr>
        <tr>
            <td>
                {{ game.elo1 }}
            </td>
            <td>
                {{ game.elo2 }}
            </td>
        </tr>
        <tr>

            {% if game.ended %}

                <td>
                    {{ game.score1 }}
                </td>
                <td>
                    {{ game.score2 }}
                </td>
            {% elif game.player1.user == user %}
                <td colspan="2">
                    <form method="POST" action="/core/game/{{ game.pk }}/set_score">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="number" min="0" class="form-control" name="score1">
                            <button class="btn btn-outline-secondary" type="submit">Submit</button>
                            <input type="number" min="0" class="form-control" name="score2">
                        </div>

                    </form>
                </td>
            {% endif %}

        </tr>
        <tr>
           <td colspan="2">
               {{ game.date }}
           </td>
        </tr>
        {% if game.verified %}
            <tr>
                <td colspan="2">
                    <span class="badge badge-success">Verified</span>
                </td>
            </tr>
        {% elif game.ended %}
            {% if game.player1.user == user or game.player2.user == user %}
                <tr>
                    <td colspan="2">
                        <a class="btn btn-danger" href="/core/game/{{ game.pk }}/reset">Reset score!</a>
                    </td>
                </tr>
            {% endif %}
            {% if game.player2.user == user %}
                <tr>
                    <td colspan="2">
                        <a class="btn btn-success" href="/core/game/{{ game.pk }}/verify">Verify!</a>
                    </td>
                </tr>
            {% endif %}
        {% endif %}

        {% if game.ended %}
            <tr>
                <td>
                    {{ game.newElo1 }} {{ game.getEloChange1 }}
                </td>
                <td>
                    {{ game.newElo2 }} {{ game.getEloChange2 }}
                </td>
            </tr>
        {% endif %}
    </table>

{% endblock %}
