{% extends "core/base.html" %}

{% block title %} {{ user }}'s players {% endblock %}

{% block main %}

    <table class="table table-striped table-bordered text-center table-hover">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Player</th>
                <th scope="col">Elo</th>
                <th scope="col">Wins</th>
                <th scope="col">Games</th>
                <th scope="col" colspan="2">Controls</th>
            </tr>
        </thead>
        <tbody>
            {% for p, s in players_stats %}
                <tr>
                    <th scope="row">{{ p.pk }}</th>
                    <td>{% include "small/player_small.html" with id=p.pk name=p.name %}</td>
                    <td>{{ p.elo }}</td>
                    <td>{{ s.wins }}</td>
                    <td>{{ s.games }}</td>
                    {% if p.active %}
                        <td><a href="/core/player/{{ p.pk }}/enable" class="btn btn-warning">Disable</a> </td>
                    {% else %}
                        <td><a href="/core/player/{{ p.pk }}/enable" class="btn btn-info">Enable</a></td>
                    {% endif %}
                    <td><a href="/core/player/{{ p.pk }}/edit" class="btn btn-primary">Edit</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <a href="/core/new_player" class="btn btn-primary">Create new player</a>
    </div>

{% endblock %}