{% extends "core/base.html" %}
{% block title %} {{ name }} {% endblock %}
{% block main %}
    <h1>{{ name }}
        {% if user.pk == user_id %}
            <span class="badge badge-primary">you</span>
        {% endif %}
        [{{ elo }}]
    </h1> <br>
    {% if last_games %}
        <h2>Last games:</h2>
    {% endif %}
    {% for x in last_games %}
        {% include "small/game_small.html" with game=x only %}
    {% endfor %}
    {% comment %}
        TODO: Achievements list, player graph, last performance.
    {% endcomment %}
{% endblock %}
