{% if game %}

    <tr>
        <td>
            <a href="/core/game/{{ game.pk }}">{{ game.pk }}</a>
        </td>
        <td>
            {{ game.date|date:'Y-m-d' }}
        </td>
        <td>
            ({{ game.elo1 }})→({{ game.newElo1 }})
        </td>
        <td>
            {% include "small/player_small.html" with id=game.player1.pk name=game.player1.name color=game.p1win only %}
        </td>
        <td>
            {{ game.score1 }} : {{ game.score2 }}
        </td>
        <td>
            {% include "small/player_small.html" with id=game.player2.pk name=game.player2.name color=game.p2win only %}
        </td>
        <td>
            ({{ game.elo2 }})→({{ game.newElo2 }})
        </td>
    </tr>


{% else %}
    No such game
{% endif %}