{% if game %}

    <tr>
        <td>
            <a href="/core/game/{{ game.pk }}">{{ game.pk }}</a>
        </td>
        <td>
            {{ game.date|date:'Y-m-d' }}
        </td>
        <td>
            {% if game.ended %}
            ({{ game.elo1 }})→({{ game.newElo1 }})
            {% else %}
            ({{ game.elo1 }})
            {% endif %}
        </td>
        <td>
            {% if game.ended %}
                {% include "small/player_small.html" with id=game.player1.pk name=game.player1.name color=game.player1_badge only %}
            {% else %}
                {% include "small/player_small.html" with id=game.player1.pk name=game.player1.name only %}
            {% endif %}
        </td>
        <td>
            {{ game.score1 }} : {{ game.score2 }}
        </td>
        <td>
            {% if game.ended %}
                {% include "small/player_small.html" with id=game.player2.pk name=game.player2.name color=game.player2_badge only %}
            {% else %}
                {% include "small/player_small.html" with id=game.player2.pk name=game.player2.name only %}
            {% endif %}
        </td>
        <td>
            {% if game.ended %}
            ({{ game.elo2 }})→({{ game.newElo2 }})
            {% else %}
            ({{ game.elo2 }})
            {% endif %}
        </td>
    </tr>


{% else %}
    No such game
{% endif %}